@-webkit-keyframes ras-bgscroll {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}
@keyframes ras-bgscroll {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}
@-webkit-keyframes vis1-borderflash {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: lime;
  }
  100% {
    border-color: yellow;
  }
}
@keyframes vis1-borderflash {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: lime;
  }
  100% {
    border-color: yellow;
  }
}
@-webkit-keyframes vis1-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes vis1-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#debug-nav {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
#debug-nav button {
  background: black;
  color: white;
  border: solid 1px white;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.fullpage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
.fullpage .content {
  max-width: 1000px;
  margin-inline: auto;
  overflow-y: hidden;
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.win95-btn, #kowabi #msg #options button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #C0C0C0;
  color: black;
  border: solid 1px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  cursor: pointer;
}
.win95-btn:focus-visible, #kowabi #msg #options button:focus-visible, .win95-btn:focus, #kowabi #msg #options button:focus {
  outline: 1px solid #000000;
}

.hastooltip {
  position: relative;
}
.hastooltip:hover .tooltip {
  opacity: 1;
}
.hastooltip .tooltip {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  border: solid black 1px;
  border-radius: 0rem;
  background-color: #fcfacf;
  color: black;
  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.1s ease;
  pointer-events: none;
}

dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#kowabi, #music-player {
  position: fixed;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
}

#kowabi {
  right: 1rem;
  height: 10rem;
}
#kowabi #msg {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 15rem;
  max-width: 25rem;
  padding: 0.5rem;
  text-align: center;
}
#kowabi #msg #options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  margin-top: 0.5rem;
}
#kowabi #icon {
  height: 100%;
}
#kowabi #icon img {
  height: 100%;
  width: auto;
}
#kowabi #icon #expression {
  height: 100%;
  width: 100%;
  margin-top: -200%;
}

#music-player {
  left: 1rem;
}
#music-player #icon {
  position: relative;
  width: 9rem;
  height: 5rem;
}
#music-player #icon img {
  position: absolute;
  bottom: 0;
  left: -1rem;
  height: 10rem;
  width: auto;
}
#music-player #panel {
  position: relative;
  width: 15rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
#music-player #panel, #music-player #panel #controls {
  gap: 0.3rem;
}
#music-player #panel #title, #music-player #panel #controls > div {
  padding: 0.2rem;
}
#music-player #panel #controls > div {
  display: flex;
}
#music-player #panel #title {
  line-height: 0.5rem;
}
#music-player #panel #controls {
  display: flex;
}
#music-player #panel #volume {
  flex-grow: 1;
}
#music-player #panel #playlist {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -3;
}
#music-player #panel #playlist:not(.open) {
  top: 0;
}
#music-player #panel #playlist.open {
  bottom: 100%;
}
#music-player #panel #playlist #toggle {
  position: relative;
  top: calc(-0.5rem - 4px);
  height: 0.5rem;
  width: 3rem;
  margin-bottom: calc(-0.5rem - 4px);
}
#music-player #panel #playlist #list {
  width: 100%;
  min-height: 3.5rem;
  padding-inline: 0.3rem;
}
#music-player #panel #playlist #list > div {
  display: flex;
  justify-content: space-between;
}
#music-player #panel #playlist #list > div > div:first-child {
  flex-grow: 1;
}

#home {
  overflow-x: hidden;
}
#home::before {
  content: "";
  position: absolute;
  inset: -2rem;
  bottom: initial;
  height: 190vh;
  transform: translateZ(-1rem);
  transform-origin: top center;
  z-index: -10;
}
#home .window {
  position: absolute;
  left: 50%;
  top: 20rem;
  height: 20rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(-50%) translateZ(-0.8rem);
}
#home .window > img {
  height: 100%;
  width: auto;
}
#home .window::before {
  position: absolute;
  inset: 0;
  z-index: -1;
}
#home .bookshelf {
  position: absolute;
  top: 21.2rem;
}
#home .bookshelf > img {
  width: 15rem;
}
#home .floor {
  position: absolute;
  top: 45rem;
  left: -25vw;
  height: 10rem;
  width: 150vw;
  display: flex;
  transform: rotateX(34deg) translateZ(2rem);
  z-index: -1;
}
#home .floor.basement {
  top: calc(80vh + 47rem);
  transform: rotateX(80deg) translateZ(2rem);
}
#home .floor.ceiling {
  top: 51rem;
  transform: rotateX(100deg) translateZ(2rem);
  z-index: -2;
}
#home #balloons {
  width: 120rem;
  position: absolute;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  pointer-events: none;
}
#home #universal-translator {
  position: absolute;
  bottom: 6rem;
  left: 1rem;
}
#home #universal-translator img {
  height: 4rem;
  transform: rotate(-20deg);
}

#ras .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-block: 5rem;
}
#ras .bust {
  margin-bottom: -13rem;
}
#ras .header {
  height: 189px;
  width: 604px;
}

#pal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#pal .content .room {
  position: relative;
  width: 100%;
  height: 34.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  perspective: 20rem;
}
#pal .content #header h1 {
  margin: 0;
}
#pal .content #cauldron {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#pal .content #desk {
  position: absolute;
  bottom: 0;
  width: 15rem;
}
#pal .content #psych {
  position: absolute;
  bottom: 10.6rem;
  left: calc(50% - 6rem);
}
#pal .content #psych img {
  width: 3rem;
}
#pal .content #letter {
  position: absolute;
  bottom: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
}
#pal .content #letter img {
  width: 3rem;
}
#pal .content #drawer {
  position: absolute;
  bottom: 3.7rem;
  right: 24.8rem;
}
#pal .content #drawer img {
  width: 2.8rem;
}
#pal .content #wiz-2 {
  position: absolute;
  bottom: 0;
  right: 4rem;
  height: 20rem;
}
#pal .content .empty-bookshelf {
  position: absolute;
  bottom: 1.5rem;
  left: 7rem;
  width: 11.5rem;
  filter: saturate(0.6) brightness(0.9) contrast(1.1) drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.7));
}
#pal .content #notice {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 15rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease;
  transform: scale(0.2) translate(-71rem, -30rem);
}
#pal .content #notice.open {
  transform: translate(-50%, -50%);
}

#lef .content {
  padding-top: 5rem;
}

#letter, #notice {
  cursor: pointer;
}

body {
  background: #111;
  font-family: Tahoma;
  text-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#kowabi #msg {
  transition: opacity 0.3s ease;
  border: solid black 2px;
  border-radius: 1rem 1rem 0 1rem;
  background-color: #fcfacf;
}
#kowabi #msg:has(#text:empty) {
  display: none;
}
#kowabi #icon {
  cursor: pointer;
}
#kowabi #icon #expression {
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 0 0.3rem hsl(199deg, 100%, 50%)) drop-shadow(0 0 0.1rem hsl(199deg, 100%, 50%));
  background-image: url("assets/kowabi-expressions.png");
  background-repeat: no-repeat;
  background-position: -1.6rem 8rem;
  -webkit-clip-path: inset(19% 0 0 0);
          clip-path: inset(19% 0 0 0);
}
#kowabi #icon #expression.col-1 {
  background-position-x: -1.6rem;
}
#kowabi #icon #expression.col-2 {
  background-position-x: -8.4rem;
}
#kowabi #icon #expression.col-3 {
  background-position-x: -15.1rem;
}
#kowabi #icon #expression.col-4 {
  background-position-x: -21.9rem;
}
#kowabi #icon #expression.col-5 {
  background-position-x: -28.6rem;
}
#kowabi #icon #expression.col-6 {
  background-position-x: -35.5rem;
}
#kowabi #icon #expression.row-1 {
  background-position-y: 1.5rem;
}
#kowabi #icon #expression.row-2 {
  background-position-y: -7rem;
}
#kowabi #icon #expression.row-3 {
  background-position-y: -15rem;
}
#kowabi #icon #expression.row-4 {
  background-position-y: -22.6rem;
}

#music-player #icon {
  cursor: pointer;
}
#music-player #panel {
  background: linear-gradient(to bottom, hsl(220deg, 10%, 30%) 0%, hsl(220deg, 10%, 30%) 5px, #2e3138 calc(100% - 5px), #2e3138 100%);
  border: solid 2px;
  -o-border-image: linear-gradient(to bottom, hsl(220deg, 10%, 30%) 0%, hsl(220deg, 10%, 30%) 5px, #17191c calc(100% - 5px), #17191c 100%);
     border-image: linear-gradient(to bottom, hsl(220deg, 10%, 30%) 0%, hsl(220deg, 10%, 30%) 5px, #17191c calc(100% - 5px), #17191c 100%);
  border-image-slice: 1;
  border-radius: 5px;
  font-family: "VT323", monospace;
}
#music-player #panel #controls > div {
  background: linear-gradient(to bottom, hsl(220deg, 15%, 70%) 0%, hsl(220deg, 15%, 70%) 5px, #4c5567 calc(100% - 5px), #4c5567 100%);
}
#music-player #panel #controls > div img {
  height: 1.5rem;
  width: auto;
  image-rendering: auto;
}
#music-player #panel #title {
  background-color: #00aaff;
  border: solid 0.4rem;
  -o-border-image: linear-gradient(to bottom, hsl(220deg, 15%, 70%) 0%, hsl(220deg, 15%, 70%) 5px, #4c5567 calc(100% - 5px), #4c5567 100%);
     border-image: linear-gradient(to bottom, hsl(220deg, 15%, 70%) 0%, hsl(220deg, 15%, 70%) 5px, #4c5567 calc(100% - 5px), #4c5567 100%);
  border-image-slice: 1;
  outline: solid 1px hsl(220deg, 15%, 50%);
  outline-offset: -0.4rem;
}
#music-player #panel #playlist.open #toggle span {
  transform: scaleX(4) rotate(180deg);
}
#music-player #panel #playlist:not(.open) #list {
  opacity: 0;
}
#music-player #panel #playlist #toggle {
  background-color: hsl(220deg, 10%, 60%);
  font-size: 0.4rem;
  text-align: center;
  border: solid 2px hsl(220deg, 10%, 30%);
}
#music-player #panel #playlist #toggle span {
  display: block;
  transform: scaleX(4);
}
#music-player #panel #playlist #list {
  border: solid 1rem hsl(220deg, 10%, 60%);
  border-width: 0.5rem 1rem;
  -o-border-image: linear-gradient(to bottom, hsl(220deg, 15%, 70%) 0%, hsl(220deg, 15%, 70%) 5px, #7b879d calc(100% - 5px), #7b879d 100%);
     border-image: linear-gradient(to bottom, hsl(220deg, 15%, 70%) 0%, hsl(220deg, 15%, 70%) 5px, #7b879d calc(100% - 5px), #7b879d 100%);
  border-image-slice: 1;
  border-bottom: none;
  box-sizing: border-box;
  outline: solid 2px hsl(220deg, 10%, 30%);
  background: linear-gradient(to right, hsl(220deg, 15%, 50%), hsl(220deg, 15%, 50%) 1px, transparent 1px, transparent calc(100% - 1px), hsl(220deg, 15%, 50%) calc(100% - 1px), hsl(220deg, 15%, 50%) 100%), linear-gradient(to bottom, hsl(220deg, 15%, 50%), hsl(220deg, 15%, 50%) 1px, transparent 1px, transparent calc(100% - 1px), hsl(220deg, 15%, 50%) calc(100% - 1px), hsl(220deg, 15%, 50%) 100%), repeating-linear-gradient(to bottom, #00aaff, #00aaff 1rem, #0077aa 1rem, #0077aa 2rem);
}
#music-player #panel #playlist #list > div {
  cursor: pointer;
}
#home {
  perspective: 20rem;
}
#home::before {
  background-image: linear-gradient(to bottom, transparent 43rem, rgba(0, 0, 0, 0.5) 80vh), url("assets/home/castlebricks.jpg");
  background-size: 10rem auto;
  background-position: 50% 50%;
}
#home .window {
  filter: drop-shadow(0rem 1rem 2rem rgba(0, 0, 0, 0.5));
}
#home .window::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(10% 95%, 12% 23%, 24% 7%, 51% 0%, 74% 8%, 87% 23%, 88% 95%);
          clip-path: polygon(10% 95%, 12% 23%, 24% 7%, 51% 0%, 74% 8%, 87% 23%, 88% 95%);
  background-image: url("assets/ras/star-bg.gif");
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-position-x: 30%;
  z-index: -1;
}
#home .bookshelf {
  filter: drop-shadow(0.3rem 0.5rem 2rem rgba(0, 0, 0, 0.5));
}
#home .bookshelf#bookshelf-right > img {
  transform: rotateY(180deg);
}
#home .floor {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url("assets/home/woodfloor.jpg");
  background-size: 100% 100%, auto 10rem;
  background-position: top center, 50% 50%;
}
#home .floor.basement {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url("assets/home/basementfloor.jpg");
}
#home .floor.ceiling {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url("assets/home/ceiling.jpg");
}

#ras {
  font-family: "Comic Sans MS";
  color: white;
  background-image: url("assets/ras/star-bg.gif");
  -webkit-animation: ras-bgscroll 60s linear infinite;
          animation: ras-bgscroll 60s linear infinite;
  text-shadow: 0 0 0.5rem #0044ff, 0 0 0.5rem #0044ff, 0 0 0.7rem #ff004c;
}
#ras .content {
  filter: drop-shadow(0 0 3rem rgba(0, 68, 255, 0.4)) drop-shadow(0 0 15rem rgba(255, 0, 76, 0.1));
}
#ras .vbig {
  font-size: 4rem;
}
#ras .big {
  font-size: 2rem;
}
#ras .header {
  filter: drop-shadow(0 0 0.2rem #ff004c) drop-shadow(0 0 0.2rem #0011ff) drop-shadow(0 1rem 0.5rem black);
}

#pal {
  background-color: #2e58ae;
  background-image: url("assets/pal/sky-bg-top.jpg"), url("assets/pal/sky-bg-bottom.jpg");
  background-repeat: repeat-x;
  background-position: top center, bottom center;
  background-size: auto 6rem, auto 6rem;
}
#pal .content {
  color: white;
}
#pal .content .room {
  background-image: url("assets/pal/wall.png");
  background-size: 100% auto;
}
#pal .content .room.windowed {
  background-image: url("assets/pal/wall-windowed.png");
}
#pal .content #header {
  font-size: 1.5rem;
}
#pal .content #header small {
  font-size: 0.8rem;
}
#pal .content #wiz-1 {
  position: relative;
}
#pal .content #wiz-1::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 4rem;
  width: 10rem;
  height: 3rem;
  border-radius: 100%;
  background: radial-gradient(closest-side, black, transparent);
  transform: rotate(-10deg);
}
#pal .content #wiz-1 img {
  position: relative;
  z-index: 2;
}
#pal .content #drawer {
  opacity: 0;
}
#pal .content #drawer:hover {
  opacity: 1;
}
#pal .content #notice {
  background: url("assets/pal/notice.png") no-repeat;
  background-size: 100% 100%;
  color: black;
  text-shadow: 0 0 0.5rem white;
}
#pal .content dialog#lettertogob {
  background-image: url("assets/pal/letter-bg.jpg");
  color: black;
  border: none;
  text-shadow: 0 0 0.5rem white;
}

#lef {
  background-image: url("assets/lef/pokemon-bg.jpg");
  background-size: cover;
  background-position: center;
}
#lef #leafeon {
  filter: drop-shadow(0 -4px 0 black);
}

#retroModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background: linear-gradient(to bottom, #ff00ff, #00ffff);
  border: 5px dashed yellow;
  box-shadow: 0 0 20px red;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  -webkit-animation: vis1-borderflash 1s infinite;
          animation: vis1-borderflash 1s infinite;
}
#retroModal .flashing-text {
  font-size: 32px;
  font-weight: bold;
  color: red;
  -webkit-animation: vis1-flash 0.5s infinite;
          animation: vis1-flash 0.5s infinite;
}
#retroModal span {
  color: gold;
}
/*# sourceMappingURL=app.css.map */