//# Keyframes
@keyframes ras-bgscroll
	0%
		background-position-y: 0%
	100%
		background-position-y: 100%
@keyframes vis1-borderflash
	0%
		border-color: yellow
	50%
		border-color: lime
	100%
		border-color: yellow
@keyframes vis1-flash
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1

//# Overrides
// *
// 	outline: solid 1px magenta
// 	outline-offset: -1px
body
	padding: 0
	margin: 0

//# Classes
.fullpage
	position: fixed
	height: 100vh
	width: 100vw
	overflow-y: auto
	.content
		max-width: 1000px
		margin-inline: auto
		overflow-y: hidden
.hidden
	opacity: 0
	pointer-events: none
.win95-btn
	appearance: none
	background: #C0C0C0
	color: black
	border: solid 1px
	border-color:#FFFFFF #808080 #808080 #FFFFFF
	cursor: pointer
	&:focus-visible, &:focus
		outline: 1px solid #000000

//# Layout
#kowabi
	position: fixed
	right: 1rem
	bottom: 1rem
	height: 10rem
	display: flex
	flex-direction: row
	align-items: center
	z-index: 100
	#msg
		height: fit-content
		min-width: 15rem
		max-width: 25rem
		padding: .5rem
		text-align: center
		#options
			display: flex
			flex-direction: row
			justify-content: center
			gap: 2px
			margin-top: .5rem
	#icon
		height: 100%
		img
			height: 100%
			width: auto
		#expression
			height: 100%
			width: 100%
			margin-top: -200%
#home
	#window
		position: absolute
		left: 50%
		bottom: 12rem
		height: 40rem
		width: fit-content
		transform: translateX(-50%) translateZ(-10rem)
		>img
			height: 100%
			width: auto
		&::before
			position: absolute
			inset: 0
			z-index: -1
	.bookshelf
		position: absolute
		bottom: -1rem
		>img
			width: 30rem
	#floor
		z-index: -1
	#balloons
		width: 180rem
		position: absolute
		left: 50%
		bottom: -3rem
		transform: translateX(-50%) translateZ(-10rem)
#ras
	.content
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		margin-block: 5rem
	.bust
		margin-bottom: -13rem
	.header
		height: 189px
		width: 604px
#pal
	#cauldron
		position: absolute
		left: 50%
		bottom: 20%
		transform: translateX(-50%)

//# Colors, Text & Appearance
body
	background: #111
	font-family: Tahoma
	text-rendering: optimizeSpeed
#kowabi
	#msg
		transition: opacity .3s ease
		border: solid black 2px
		border-radius: 1rem 1rem 0 1rem
		&:not(:empty)
			background-color: #fcfacf
		#options button
			@extend .win95-btn
	#icon
		cursor: pointer
		#expression
			position: relative
			z-index: 1
			filter: drop-shadow(0 0 .3rem hsl(199, 100%, 50%)) drop-shadow(0 0 .1rem hsl(199, 100%, 50%))
			background-image: url('assets/kowabi-expressions.png')
			background-repeat: no-repeat
			background-position: -1.6rem 8rem
			clip-path: inset(19% 0 0 0)
			// background-position: -1.7rem 1.5rem
			&.col-1
				background-position-x: -1.6rem
			&.col-2
				background-position-x: -8.4rem
			&.col-3
				background-position-x: -15.1rem
			&.col-4
				background-position-x: -21.9rem
			&.col-5
				background-position-x: -28.6rem
			&.col-6
				background-position-x: -35.5rem
			&.row-1
				background-position-y: 1.5rem
			&.row-2
				background-position-y: -7rem
			&.row-3
				background-position-y: -15rem
			&.row-4
				background-position-y: -22.6rem
#home
	background-image: linear-gradient(to top, rgb(0 0 0 / 50%) 10rem, transparent 16rem), url('assets/home/castlebricks.jpg')
	background-size: 10rem auto
	background-position: 50% 50%
	perspective: 20rem
	overflow: hidden
	#window
		filter: drop-shadow(0rem 1rem 2rem rgb(0 0 0 / 50%))
		&::before
			content: ''
			position: absolute
			inset: 0
			clip-path: polygon(10% 95%, 12% 23%, 24% 7%, 51% 0%, 74% 8%, 87% 23%, 88% 95%)
			background-image: url('assets/ras/star-bg.gif')
			background-repeat: no-repeat
			background-size: 98% 98%
			background-position-x: 30%
			z-index: -1
	.bookshelf
		transform: translateZ(-10rem)
		box-shadow: 0.3rem 0.5rem 2rem rgb(0 0 0 / 50%)
		&#bookshelf-right
			transform: translateZ(-10rem) rotateY(180deg)
	#floor
		position: absolute
		bottom: -8rem
		left: -25vw
		height: 20rem
		width: 150vw
		display: flex
		background-image: linear-gradient(to bottom, rgb(0 0 0 / 50%), transparent), url('assets/home/woodfloor.jpg')
		background-size: 100% 100%, auto 10rem
		background-position: top center, 50% 50%
		transform: rotateX(90deg)
#ras
	font-family: 'Comic Sans MS'
	color: white
	background-image: url('assets/ras/star-bg.gif')
	animation: ras-bgscroll 60s linear infinite
	text-shadow: 0 0 .5rem #0044ff, 0 0 .5rem #0044ff, 0 0 .7rem #ff004c
	.content
		filter: drop-shadow(0 0 3rem rgb(0 68 255 / 40%)) drop-shadow(0 0 15rem rgb(255 0 76 / 10%))
	.vbig
		font-size: 4rem
	.big
		font-size: 2rem
	.header
		filter: drop-shadow(0 0 .2rem #ff004c) drop-shadow(0 0 .2rem #0011ff) drop-shadow(0 1rem .5rem black)

//# Specific stuff
#retroModal
	display: none
	position: fixed
	z-index: 9999
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	width: 400px
	padding: 20px
	background: linear-gradient(to bottom, #ff00ff, #00ffff)
	border: 5px dashed yellow
	box-shadow: 0 0 20px red
	font-family: "Comic Sans MS", cursive, sans-serif
	text-align: center
	animation: vis1-borderflash 1s infinite
	.flashing-text
		font-size: 32px
		font-weight: bold
		color: red
		animation: vis1-flash 0.5s infinite
	span
		color: gold