//# Keyframes & Fonts
@keyframes ras-bgscroll
	0%
		background-position-y: 0%
	100%
		background-position-y: 100%
@keyframes vis1-borderflash
	0%
		border-color: yellow
	50%
		border-color: lime
	100%
		border-color: yellow
@keyframes vis1-flash
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1
@keyframes blink
	0%
		opacity: 1
	100%
		opacity: 0
@keyframes boing
	0%, 60%
		transform: translateY(0) scale(.6, 1.2)
		animation-timing-function: ease-out
	30%
		transform: translateY(-5rem) scale(1.2, .6)
		animation-timing-function: ease-in
	80%
		transform: translateY(0) scale(1.2, .6)
		animation-timing-function: ease-in
	100%
		transform: translateY(0) scale(1)
@keyframes boingShadow
	0%, 60%
		opacity: .8
		transform: translateX(-50%) scale(1)
	30%
		opacity: .2
		transform: translateX(-50%) scale(.7)
@keyframes boingText
	0%
		transform: translateY(0)
		opacity: 1
	100%
		transform: translateY(-3rem)
		opacity: 0
@keyframes woah
	0%
		transform: translateX(-50%) scale(2) rotate(0deg)
	50%
		transform: translateX(-50%) scale(2) rotate(180deg)
	100%
		transform: translateX(-50%) scale(2) rotate(360deg)
@font-face
	font-family: 'Andy'
	src: url('assets/kaboom/AndyRegular.OTF')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'Andy'
	src: url('assets/kaboom/AndyItalic.OTF')
	font-weight: normal
	font-style: italic
@font-face
	font-family: 'Andy'
	src: url('assets/kaboom/AndyBold.OTF')
	font-weight: bold
	font-style: normal
@font-face
	font-family: 'Andy'
	src: url('assets/kaboom/AndyBoldIT.OTF')
	font-weight: bold
	font-style: italic
//# Debugging
// *
// 	outline: solid 1px magenta
// 	outline-offset: -1px
#debug-nav
	position: fixed
	z-index: 100
	display: flex
	flex-direction: column
	button
		background: black
		color: white
		border: solid 1px white

//# Overrides
body
	padding: 0
	margin: 0
	height: 100vh
	overflow: hidden
[onclick]
	cursor: pointer

//# Classes & Defaults
.fullpage
	position: fixed
	height: 100vh
	width: 100vw
	overflow-y: auto
	.content
		max-width: 1000px
		margin-inline: auto
		overflow-y: hidden
		text-align: center
.hidden
	opacity: 0 !important
	pointer-events: none
.win95-btn
	appearance: none
	background: #C0C0C0
	color: black
	border: solid 1px
	border-color:#FFFFFF #808080 #808080 #FFFFFF
	cursor: pointer
	&:focus-visible, &:focus
		outline: 1px solid #000000
.hastooltip
	position: relative
	&:hover .tooltip
		opacity: 1
	.tooltip
		position: absolute
		bottom: calc(100% + .5rem)
		left: 50%
		transform: translateX(-50%)
		transition: opacity .3s ease
		border: solid black 1px
		border-radius: 0rem
		background-color: #fcfacf
		color: black
		padding: .1rem .3rem
		font-size: .7rem
		white-space: nowrap
		opacity: 0
		transition: opacity .1s ease
		pointer-events: none
.toscreencenter
	top: 50% !important
	left: 50% !important
	transform: translate(-50%, -50%) !important
	transition: 1s linear
	transition-property: top, left, transform, opacity
	pointer-events: none
	> *
		transition: 1s linear
		transform: initial !important
		transition-property: height, width, transform
	&::before
		content: ''
		position: absolute
		left: 50%
		height: 100%
		aspect-ratio: 1
		background: repeating-conic-gradient(gold 0deg 10deg, transparent 10deg 20deg)
		background-size: cover
		border-radius: 50%
		mask-image: radial-gradient(circle, black 0%, transparent 70%)
		animation: woah 10s linear infinite
		z-index: -1
dialog::backdrop
		background: rgb(0 0 0 / 50%)
@function gradBG($color, $darken: 30%, $direction: bottom)
	$spread: 5px
	@return linear-gradient(to $direction, #{$color} 0%, #{$color} $spread, #{darken($color, $darken)} calc(100% - $spread), #{darken($color, $darken)} 100%)

//# Cauldron ingredients
[alt*="orange slime"]
	filter: hue-rotate(28deg) contrast(0.9) brightness(3.5) contrast(1.3)

//# Layout
#kowabi, #music-player
	position: fixed
	bottom: .3rem
	display: flex
	flex-direction: row
	align-items: center
	z-index: 10000
#kowabi
	right: .3rem
	height: 10rem
	pointer-events: none
	#msg
		height: fit-content
		min-width: 15rem
		max-width: 25rem
		padding: .5rem
		text-align: center
		pointer-events: auto
		#options
			display: flex
			flex-direction: row
			justify-content: center
			gap: 2px
			margin-top: .5rem
	#icon
		pointer-events: auto
		height: 100%
		img
			height: 100%
			width: auto
		#expression
			height: 100%
			width: 100%
			margin-top: -200%
#music-player
	left: .3rem
	#icon
		position: relative
		width: 9rem
		height: 5rem
		img
			position: absolute
			bottom: 0
			left: -1rem
			width: 11rem
			height: auto
	#panel
		position: relative
		width: 17rem
		display: flex
		flex-direction: column
		z-index: 100
		&.hidden
			display: none
		&, #controls
			gap: .3rem
		#title, #controls > *
			padding: .2rem
		#controls > *
			display: flex
		#title, #title > *
			line-height: 1rem
		#title
			display: flex
		#controls
			display: flex
		#volume
			width: 100%
			flex-grow: 1
		#playlist
			position: absolute
			top: 0
			width: 100%
			display: flex
			flex-direction: column
			align-items: center
			z-index: -3
			#toggle
				position: relative
				top: calc(-.5rem - 4px)
				height: .5rem
				width: 3rem
				margin-bottom: calc(-.5rem - 4px)
			#list
				width: 100%
				min-height: calc(3rem + .5rem)
				padding-inline: .3rem
				>*
					height: 1rem
					display: flex
					justify-content: space-between
					> :first-child
						flex-grow: 1
#home
	overflow-x: hidden
	&::before
		content: ''
		position: absolute
		inset: -2rem
		bottom: initial
		height: 190vh
		transform: translateZ(-1rem)
		transform-origin: top center
		z-index: -10
	.window
		position: absolute
		left: 50%
		top: 20rem
		height: 20rem
		width: fit-content
		transform: translateX(-50%) translateZ(-.8rem)
		>img
			height: 100%
			width: auto
		&::before
			position: absolute
			inset: 0
			z-index: -1
	.bookshelf
		position: absolute
		top: 21.2rem
		>img
			width: 15rem
	.floor
		position: absolute
		top: 45rem
		left: -25vw
		height: 10rem
		width: 150vw
		display: flex
		transform: rotateX(34deg) translateZ(2rem)
		z-index: -1
		&.basement
			top: calc(80vh + 47rem)
			transform: rotateX(80deg) translateZ(2rem)
		&.ceiling
			top: 51rem
			transform: rotateX(100deg) translateZ(2rem)
			z-index: -2
	#balloons
		width: 120rem
		position: absolute
		left: 50%
		bottom: 5rem
		transform: translateX(-50%)
		pointer-events: none
	#universal-translator
		position: absolute
		bottom: 6rem
		left: 1rem
		img
			height: 4rem
			transform: rotate(-20deg)
#ras
	.content
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		margin-block: 5rem
	.bust
		margin-bottom: -13rem
	.header
		height: 189px
		width: 604px
#pal
	.content
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		// padding-block: 5rem
		.room
			position: relative
			width: 100%
			height: 34.9rem
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			perspective: 20rem
		//? Top room
		#header
			h1
				margin: 0
		//? Alchemy room
		#cauldron
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
		//? Writing room
		#desk
			position: absolute
			bottom: 0
			width: 15rem
		#psych
			position: absolute
			bottom: 10.6rem
			left: calc(50% - 6rem)
			img
				width: 3rem
		#letter
			position: absolute
			bottom: 7.5rem
			left: 50%
			transform: translateX(-50%)
			img
				width: 3rem
		#drawer
			position: absolute
			bottom: 3.7rem
			right: 24.8rem
			img
				width: 2.8rem
		//? Library
		#wiz-2
			position: absolute
			bottom: 0
			right: 4rem
			height: 20rem
		.empty-bookshelf
			position: absolute
			bottom: 1.5rem
			left: 7rem
			width: 11.5rem
			filter: saturate(.6) brightness(.9) contrast(1.1) drop-shadow(0 1rem .5rem rgb(0 0 0 / 70%))
		#notice
			position: absolute
			top: 50%
			left: 50%
			height: 15rem
			width: 10rem
			display: flex
			flex-direction: column
			justify-content: center
			transition: transform .2s ease
			transform: scale(.2) translate(-71rem, -30rem)
			&.open
				transform: translate(-50%, -50%)
#lef
	.content
		padding-top: 5rem
#kaboom
	overflow: hidden
	.slime
		position: relative
		&::before
			display: block
			content: ''
			position: absolute
			left: 50%
			bottom: 15%
			height: 30%
			width: 120%
			transform: translateX(-55%)
			z-index: 1
		img
			position: relative
			z-index: 2
	#field
		position: relative
		width: 100vw
		height: 25vh
		margin-top: 75vh
		overflow: visible
		.slime
			position: absolute
			transition: top .5s linear, left .5s linear
			transform-origin: bottom center
			img
				height: 70px
				width: 70px
		.temptext
			position: absolute
	#dialogue
		display: flex
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		overflow: hidden
		&::before
			$border: 4px
			content: ''
			position: absolute
			inset: -$border
			z-index: 3
			pointer-events: none
		.slime
			img
				height: 15rem
				width: 15rem
				transform: translateX(5%)
			&::before
				transform: translateX(-50%)
		.message
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			width: 25rem
			padding-inline: 2rem
			padding-right: 3rem
		.hastooltip img
			height: 2rem
		button, .hastooltip
			margin-top: 1rem

//# Colors, Text & Appearance
//? Clickables
#letter, #notice
	cursor: pointer
body
	background: #111
	font-family: Tahoma
	text-rendering: optimizeSpeed
	image-rendering: pixelated
#kowabi
	#msg
		transition: opacity .3s ease
		border: solid black 2px
		border-radius: 1rem 1rem 0 1rem
		background-color: #fcfacf
		&:has(#text:empty)
			display: none
		#options button
			@extend .win95-btn
	#icon
		cursor: pointer
		#expression
			position: relative
			z-index: 1
			filter: drop-shadow(0 0 .3rem hsl(199, 100%, 50%)) drop-shadow(0 0 .1rem hsl(199, 100%, 50%))
			background-image: url('assets/kowabi-expressions.png')
			background-repeat: no-repeat
			background-position: -1.6rem 8rem
			clip-path: inset(19% 0 0 0)
			// background-position: -1.7rem 1.5rem
			&.col-1
				background-position-x: -1.6rem
			&.col-2
				background-position-x: -8.4rem
			&.col-3
				background-position-x: -15.1rem
			&.col-4
				background-position-x: -21.9rem
			&.col-5
				background-position-x: -28.6rem
			&.col-6
				background-position-x: -35.5rem
			&.row-1
				background-position-y: 1.5rem
			&.row-2
				background-position-y: -7rem
			&.row-3
				background-position-y: -15rem
			&.row-4
				background-position-y: -22.6rem
#music-player
	#icon
		cursor: pointer
	#panel
		background: gradBG(hsl(220, 10%, 30%), 10%)
		border: solid 2px
		border-image: gradBG(hsl(220, 10%, 30%), 20%)
		border-image-slice: 1
		border-radius: 5px
		font-family: "VT323", monospace
		#controls > *
			height: 1.5rem
			background: gradBG(hsl(220, 15%, 70%), 35%)
			img
				height: 100%
				width: auto
				image-rendering: auto
		#volume
			margin: 0
		#title
			background-color: #00aaff
			border: solid .4rem
			border-image: gradBG(hsl(220, 15%, 70%), 35%)
			border-image-slice: 1
			outline: solid 1px hsl(220, 15%, 50%)
			outline-offset: -.4rem
			text-align: center
			:last-child
				text-wrap: nowrap
		#playlist
			transition: top .2s ease, bottom .2s ease
			&.open #toggle span
				transform: scaleX(4) rotate(180deg)
			&:not(.open) #list
				opacity: 0
			#toggle
				background-color: hsl(220, 10%, 60%)
				font-size: .4rem
				text-align: center
				border: solid 2px hsl(220, 10%, 30%)
				span
					display: block
					transform: scaleX(4)
			#list
				display: flex
				flex-direction: column
				border: solid 1rem hsl(220, 10%, 60%)
				border-width: .5rem 1rem
				border-image: gradBG(hsl(220, 15%, 70%), 15%)
				border-image-slice: 1
				border-bottom: none
				box-sizing: border-box
				outline: solid 2px hsl(220, 10%, 30%)
				$spacing: 1rem
				background: linear-gradient(to right, hsl(220, 15%, 50%), hsl(220, 15%, 50%) 1px, transparent 1px, transparent calc(100% - 1px), hsl(220, 15%, 50%) calc(100% - 1px), hsl(220, 15%, 50%) 100%), linear-gradient(to bottom, hsl(220, 15%, 50%), hsl(220, 15%, 50%) 1px, transparent 1px, transparent calc(100% - 1px), hsl(220, 15%, 50%) calc(100% - 1px), hsl(220, 15%, 50%) 100%), repeating-linear-gradient(to bottom, #00aaff, #00aaff $spacing, #0077aa $spacing, #0077aa $spacing*2)
				>*
					display: flex
					cursor: pointer
					text-wrap: nowrap
					> :first-child
						margin-inline: .3rem
					&.playing::before
						content: '●'
						transform: translateY(-2px)
						animation: blink .4s linear infinite alternate
#home
	perspective: 20rem
	&::before
		background-image: linear-gradient(to bottom, transparent 43rem, rgb(0 0 0 / 50%) 80vh), url('assets/home/castlebricks.jpg')
		background-size: 10rem auto
		background-position: 50% 50%
	.window
		filter: drop-shadow(0rem 1rem 2rem rgb(0 0 0 / 50%))
		&::before
			content: ''
			position: absolute
			inset: 0
			clip-path: polygon(10% 95%, 12% 23%, 24% 7%, 51% 0%, 74% 8%, 87% 23%, 88% 95%)
			background-image: url('assets/ras/star-bg.gif')
			background-repeat: no-repeat
			background-size: 98% 98%
			background-position-x: 30%
			z-index: -1
	.bookshelf
		filter: drop-shadow(0.3rem 0.5rem 2rem rgb(0 0 0 / 50%))
		&#bookshelf-right > img
			transform: rotateY(180deg)
	.floor
		background-image: linear-gradient(to bottom, rgb(0 0 0 / 50%), transparent), url('assets/home/woodfloor.jpg')
		background-size: 100% 100%, auto 10rem
		background-position: top center, 50% 50%
		&.basement
			background-image: linear-gradient(to bottom, rgb(0 0 0 / 50%), transparent), url('assets/home/basementfloor.jpg')
		&.ceiling
			background-image: linear-gradient(to bottom, rgb(0 0 0 / 50%), transparent), url('assets/home/ceiling.jpg')
#ras
	font-family: 'Comic Sans MS'
	color: white
	background-image: url('assets/ras/star-bg.gif')
	animation: ras-bgscroll 60s linear infinite
	text-shadow: 0 0 .5rem #0044ff, 0 0 .5rem #0044ff, 0 0 .7rem #ff004c
	.content
		filter: drop-shadow(0 0 3rem rgb(0 68 255 / 40%)) drop-shadow(0 0 15rem rgb(255 0 76 / 10%))
	.vbig
		font-size: 4rem
	.big
		font-size: 2rem
	.header
		filter: drop-shadow(0 0 .2rem #ff004c) drop-shadow(0 0 .2rem #0011ff) drop-shadow(0 1rem .5rem black)
#pal
	background-color: #2e58ae
	background-image: url('assets/pal/sky-bg-top.jpg'), url('assets/pal/sky-bg-bottom.jpg')
	background-repeat: repeat-x
	background-position: top center, bottom center
	background-size: auto 6rem, auto 6rem
	.content
		color: white
		.room
			background-image: url('assets/pal/wall.png')
			background-size: 100% auto
			&.windowed
				background-image: url('assets/pal/wall-windowed.png')
		//? Top room
		#header
			font-size: 1.5rem
			small
				font-size: .8rem
		#wiz-1
			position: relative
			&::before
				content: ''
				display: block
				position: absolute
				bottom: 0
				right: 4rem
				width: 10rem
				height: 3rem
				border-radius: 100%
				background: radial-gradient(closest-side, black, transparent)
				transform: rotate(-10deg)
			img
				position: relative
				z-index: 2
		//? Alchemy room
		//? Writing room
		#drawer
			opacity: 0
			&:hover
				opacity: 1
		//? Library
		#notice
			background: url('assets/pal/notice.png') no-repeat
			background-size: 100% 100%
			color: black
			text-shadow: 0 0 .5rem white
		dialog#lettertogob
			background-image: url('assets/pal/letter-bg.jpg')
			color: black
			border: none
			text-shadow: 0 0 .5rem white
#lef
	background-image: url('assets/lef/pokemon-bg.jpg')
	background-size: cover
	background-position: center
	#leafeon
		filter: drop-shadow(0 -4px 0 black)
#kaboom
	background-image: url('assets/kaboom/field-bg.png')
	background-size: cover
	background-position: center center
	font-family: 'Andy'
	font-size: 1.2rem
	.slime
		&::before
			background-image: radial-gradient(closest-side, black, transparent)
		&.boing
			img
				animation: boing .8s ease
			&::before
				animation: boingShadow .8s ease
	.temptext
		--angle: 0deg
		color: white
		font-weight: bold
		transform: rotate(var(--angle))
		transform-origin: bottom center
		>div
			animation: boingText 1s ease-in-out
	#dialogue
		backdrop-filter: blur(10px)
		background-image: url('assets/kaboom/dialogue-bg.png'), url('assets/kaboom/notice.png')
		background-size: 100% 100%, 100% 100%
		background-color: #947845
		text-align: center
		&::before
			$border: 4px
			border: solid $border*12
			border-image: url('assets/kaboom/terraria-minimap-border.png')
			border-image-slice: 12 12 12
			border-image-repeat: stretch
		.hastooltip, button
			opacity: 1
			transition: opacity .5s ease
		button.hidden
			transition: none
		.hastooltip + button
			display: none

//# Specific stuff
#retroModal
	display: none
	position: fixed
	z-index: 9999
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	width: 400px
	padding: 20px
	background: linear-gradient(to bottom, #ff00ff, #00ffff)
	border: 5px dashed yellow
	box-shadow: 0 0 20px red
	font-family: "Comic Sans MS", cursive, sans-serif
	text-align: center
	animation: vis1-borderflash 1s infinite
	.flashing-text
		font-size: 32px
		font-weight: bold
		color: red
		animation: vis1-flash 0.5s infinite
	span
		color: gold