@-webkit-keyframes wave {
  30% {
    transform: translateY(-0.15rem);
  }
  60% {
    transform: translateY(0.15rem);
  }
  90%, 100%, 0% {
    transform: translateY(0);
  }
}
@keyframes wave {
  30% {
    transform: translateY(-0.15rem);
  }
  60% {
    transform: translateY(0.15rem);
  }
  90%, 100%, 0% {
    transform: translateY(0);
  }
}
@-webkit-keyframes jitter {
  0% {
    transform: translate(calc(var(--amp) * 0.3366103735), calc(var(--amp) * 0.4900092038));
  }
  5% {
    transform: translate(calc(var(--amp) * 0.8963875538), calc(var(--amp) * 0.0509908893));
  }
  10% {
    transform: translate(calc(var(--amp) * 0.688366335), calc(var(--amp) * 0.7334588799));
  }
  15% {
    transform: translate(calc(var(--amp) * 0.5658442504), calc(var(--amp) * 0.0732157499));
  }
  20% {
    transform: translate(calc(var(--amp) * 0.7736344656), calc(var(--amp) * 0.4686044023));
  }
  25% {
    transform: translate(calc(var(--amp) * 0.2393258273), calc(var(--amp) * 0.3443971959));
  }
  30% {
    transform: translate(calc(var(--amp) * 0.1806559913), calc(var(--amp) * 0.3931875316));
  }
  35% {
    transform: translate(calc(var(--amp) * 0.135252405), calc(var(--amp) * 0.6942656001));
  }
  40% {
    transform: translate(calc(var(--amp) * 0.3181703996), calc(var(--amp) * 0.7757642448));
  }
  45% {
    transform: translate(calc(var(--amp) * 0.4523051847), calc(var(--amp) * 0.6131359533));
  }
  50% {
    transform: translate(calc(var(--amp) * 0.2906337554), calc(var(--amp) * 0.0187539842));
  }
  55% {
    transform: translate(calc(var(--amp) * 0.4557271274), calc(var(--amp) * 0.8329457815));
  }
  60% {
    transform: translate(calc(var(--amp) * 0.3925430504), calc(var(--amp) * 0.648372183));
  }
  65% {
    transform: translate(calc(var(--amp) * 0.9652551667), calc(var(--amp) * 0.1784340736));
  }
  70% {
    transform: translate(calc(var(--amp) * 0.4976425599), calc(var(--amp) * 0.9519750368));
  }
  75% {
    transform: translate(calc(var(--amp) * 0.5054844682), calc(var(--amp) * 0.6230151568));
  }
  80% {
    transform: translate(calc(var(--amp) * 0.7313628966), calc(var(--amp) * 0.558557113));
  }
  85% {
    transform: translate(calc(var(--amp) * 0.105815194), calc(var(--amp) * 0.9849715726));
  }
  90% {
    transform: translate(calc(var(--amp) * 0.0628495175), calc(var(--amp) * 0.8417908229));
  }
  95% {
    transform: translate(calc(var(--amp) * 0.5804748926), calc(var(--amp) * 0.9299311256));
  }
}
@keyframes jitter {
  0% {
    transform: translate(calc(var(--amp) * 0.3366103735), calc(var(--amp) * 0.4900092038));
  }
  5% {
    transform: translate(calc(var(--amp) * 0.8963875538), calc(var(--amp) * 0.0509908893));
  }
  10% {
    transform: translate(calc(var(--amp) * 0.688366335), calc(var(--amp) * 0.7334588799));
  }
  15% {
    transform: translate(calc(var(--amp) * 0.5658442504), calc(var(--amp) * 0.0732157499));
  }
  20% {
    transform: translate(calc(var(--amp) * 0.7736344656), calc(var(--amp) * 0.4686044023));
  }
  25% {
    transform: translate(calc(var(--amp) * 0.2393258273), calc(var(--amp) * 0.3443971959));
  }
  30% {
    transform: translate(calc(var(--amp) * 0.1806559913), calc(var(--amp) * 0.3931875316));
  }
  35% {
    transform: translate(calc(var(--amp) * 0.135252405), calc(var(--amp) * 0.6942656001));
  }
  40% {
    transform: translate(calc(var(--amp) * 0.3181703996), calc(var(--amp) * 0.7757642448));
  }
  45% {
    transform: translate(calc(var(--amp) * 0.4523051847), calc(var(--amp) * 0.6131359533));
  }
  50% {
    transform: translate(calc(var(--amp) * 0.2906337554), calc(var(--amp) * 0.0187539842));
  }
  55% {
    transform: translate(calc(var(--amp) * 0.4557271274), calc(var(--amp) * 0.8329457815));
  }
  60% {
    transform: translate(calc(var(--amp) * 0.3925430504), calc(var(--amp) * 0.648372183));
  }
  65% {
    transform: translate(calc(var(--amp) * 0.9652551667), calc(var(--amp) * 0.1784340736));
  }
  70% {
    transform: translate(calc(var(--amp) * 0.4976425599), calc(var(--amp) * 0.9519750368));
  }
  75% {
    transform: translate(calc(var(--amp) * 0.5054844682), calc(var(--amp) * 0.6230151568));
  }
  80% {
    transform: translate(calc(var(--amp) * 0.7313628966), calc(var(--amp) * 0.558557113));
  }
  85% {
    transform: translate(calc(var(--amp) * 0.105815194), calc(var(--amp) * 0.9849715726));
  }
  90% {
    transform: translate(calc(var(--amp) * 0.0628495175), calc(var(--amp) * 0.8417908229));
  }
  95% {
    transform: translate(calc(var(--amp) * 0.5804748926), calc(var(--amp) * 0.9299311256));
  }
}
@-webkit-keyframes glow {
  0%, 10% {
    --glow: 0;
  }
  90%, 100% {
    --glow: 1;
  }
}
@keyframes glow {
  0%, 10% {
    --glow: 0;
  }
  90%, 100% {
    --glow: 1;
  }
}
jitter {
  white-space: nowrap;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
jitter span {
  --amp: .1rem;
  display: inline-block;
  will-change: transform;
  -webkit-animation: jitter 1s linear infinite;
          animation: jitter 1s linear infinite;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
jitter span:nth-of-type(10n+1) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
jitter span:nth-of-type(10n+2) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
jitter span:nth-of-type(10n+3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
jitter span:nth-of-type(10n+4) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
jitter span:nth-of-type(10n+5) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
jitter span:nth-of-type(10n+6) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
jitter span:nth-of-type(10n+7) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
jitter span:nth-of-type(10n+8) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
jitter span:nth-of-type(10n+9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
jitter span:nth-of-type(10n+10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

wave {
  white-space: nowrap;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
wave span {
  display: inline-block;
  will-change: transform;
  -webkit-animation: wave 3s ease-in-out infinite;
          animation: wave 3s ease-in-out infinite;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
wave span:nth-of-type(10n+1) {
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}
wave span:nth-of-type(10n+2) {
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}
wave span:nth-of-type(10n+3) {
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}
wave span:nth-of-type(10n+4) {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}
wave span:nth-of-type(10n+5) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
wave span:nth-of-type(10n+6) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
wave span:nth-of-type(10n+7) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
wave span:nth-of-type(10n+8) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
wave span:nth-of-type(10n+9) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
wave span:nth-of-type(10n+10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

glow {
  --glow: 1;
  -webkit-animation: glow 4s ease infinite alternate;
          animation: glow 4s ease infinite alternate;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
/*# sourceMappingURL=steptext.css.map */